<h1>Characters</h1>
<%=@my_character_list%>
<%if @my_character_list.present?%>
  <div>
    <%@my_character_list.each do |lis|%>
      <tr>
        <td>
          <%=lis.name%>
        </td>
      </tr>
    <%end%>
  <%end%>
</div>
